/* #wholepage{
    background-image: url(rp.png), url(images.jpg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}
html { 
    background: url(rp.png) no-repeat right fixed; 
    background-size: cover;
  } */
#wholepage{
width: 100%;
height: 100%;
margin-left: auto;
margin-right: auto;
  background-image: linear-gradient(to bottom right, rgb(233, 216, 223), rgb(141, 24, 73)); /* Standard syntax (must be last) */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background: url(rp.png) no-repeat center; 
  background-size: cover;
  height: 1200px;
  position: relative;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(192, 23, 23);
  background-color: pink;
  border: 5px solid rgb(192, 23, 23);
  animation: e1 4s 3 right;
}
@keyframes example {
    from {background-color: rgb(240, 40, 150);}
    to {background-color: rgb(223, 119, 188);}
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(247, 234, 234);
  }
  
li {
    float: left;
    border-right:1px solid rgb(12, 1, 1);
  }
  
  li:last-child {
    border-right: none;
  }
  /* .header{
      position: fixed;
  } */
  li a {
    display: block;
    color: rgb(112, 17, 236);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(238, 132, 203);
  }
  
  .active {
    background-color: rgb(235, 109, 168);
    color: silver;
  }
  .button {
    background-color: rgb(183, 67, 230); /* Green */
    border: 1px solid;
    color: rgb(245, 235, 235);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
      background-color: rgb(141, 24, 73);
      color: rgb(12, 1, 1);

  }
  .button1:hover {
    background-color: rgb(150, 21, 224);
    color: white;
  }